html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.background-dark {
  color: #FFF;
  background-color: #1e2a78;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em .5em;
}

.keyboard-area {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
}

.key {
  font-size: 2rem;
  padding: .3rem .6rem;
  border: 1px solid #FFF;
  margin: 3px 4px;
}

.key:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #1e2a78;
  cursor: pointer;
}

.play-area {
  min-height: 40%;
  background-image: url("../../Images/wood-background.jpg");
  background-size: cover;
  padding: 4em 4em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 700px) {
  .play-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plate {
  height: 150px;
  width: 150px;
}

@media only screen and (min-width: 700px) {
  .plate {
    height: 400px;
    width: 400px;
  }
}

.mouse {
  height: 100px;
  width: 100px;
}

@media only screen and (min-width: 700px) {
  .mouse {
    height: 200px;
    width: 200px;
  }
}

.word-container {
  font-size: 2.2rem;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
}

.letter {
  list-style-type: none;
  text-decoration: underline;
  text-transform: uppercase;
  padding: auto 1em;
}
/*# sourceMappingURL=main.css.map */